<html>

<head>
    <title>Banking App</title>

    {{> GLOBAL-HEAD }}
    <link rel="stylesheet" href="/style.css" />

</head>

<body style="overflow-y:scroll; overflow-x:hidden;">
    {{{body}}}
    <!-- Footer -->
    <div style="height:50px" />
</body>


</html>